body {
    font-family: 'Lexend', sans-serif;
}

.andika-jumbotron {
    background-color: rgb(28, 21, 95);
    color: rgb(176, 176, 177);
    height: 360px;
    padding: 4%;
}

.carousel-inner img {
    width: 100%;
    height: 100%;
}

.carousel-control-prev,
.carousel-control-next {
      background-color: grey;
}

.carousel-control-prev, .carousel-control-next{
    display: flex;
    align-items: center;
    height: 640px
}

.carousel-item img {
    display: block;
    margin: 0 auto;
}

.material-icons {
    font-size: 120px;
}
