/* Navigation Bar */
.navbar {
    font-family: Poppins;
    font-size: 32;
}


/* Utilities */
.tombol {
    text-transform: uppercase;
    border-radius: 32px;
    background-color: rgb(241, 61, 61);
    border-color: rgb(144, 21, 21);
}

.tombol:hover {
    background-color: rgb(144, 21, 21);
    border-color: rgb(144, 21, 21);
}

.image-container {
    position: absolute;
    z-index: 1;
}

.custom-image {
    width: 110%;
    height: auto;
}

.container {
    z-index: 2;
}

/* Jumbotron */
.jumbotron {
    position: relative;
    z-index: 3;
    background-image: url(img/tips/umrah-kami.jpg);
    background-size: 120%;
    background-position: center center;
    display: flex;
    align-items: center;
    height: 280px;
    justify-content: center;
    text-align:  center;
    margin-top: 60px;
}

.jumbotron::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,0));
    position: absolute;
}

.display-4 {
    font-weight: 900;
    color: azure;
    text-transform: uppercase;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
}



/* DESKTOP VERSION */
@media (min-width: 992px) {
    .nav-link {
        text-transform: uppercase;
        margin-right: 32px;
    }
    .nav-link:hover::after {
        content: '';
        display: block;
        border-bottom: 3px solid rgb(241, 61, 61);
        width: 50%;
        margin: auto;
        padding-bottom: 4px;
        margin-bottom: -7px;
    }
}

/* Info Panel */
.section-title {
    color: #790000;
    font-size: 16px;
    font-weight: 700;
    display: inline-block;
    position: relative;
    margin-bottom: 16px;
  }
  .section-tittle ::before {
    position: absolute;
    width: 45px;
    height: 2px;
    content: "";
    background: #790000;
    left: -60px;
    bottom: 0;
    top: 50%;
    transform: translateY(-50%);
    line-height: 1;
    margin-bottom: 20;
  }
  .section-title h2 {
    color: #350000;
    font-size: 64px;
    font-weight: 700;
    margin-bottom: 66px;
    line-height: 1.3;
  }
.generating-area .single-generating {
    border: 2px solid #f2f2f2;
    padding: 36px 54px 25px 56px;
    border-radius: 10px;
    -webkit-transition: all 0.4s ease-out 0s;
    -ms-transition: all 0.4s ease-out 0s;
    -o-transition: all 0.4s ease-out 0s;
    transition: all 0.4s ease-out 0s;
  }

  .single-generating:hover {
    box-shadow: 0px 10px 30px 0px rgba(133, 66, 189, 0.1);
  }

  .generating-area .generating-icon span {
    color: #790000;
    font-size: 60px;
  }

  .generating-area .generating-cap {
    padding-left: 28px;
  }
  .generating-area .generating-cap h4 {
    color: #790000;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.3;
    margin-bottom: 29px;
  }

  .single-generating:hover {
    box-shadow: 0px 10px 30px 0px rgba(133, 66, 189, 0.1);
  }

.material-symbols-outlined:before { 
  content: "\f0c5"; 
}

.we-create-area {
  position: relative;
}
.we-create-area::before {
  background-image: url(../img/shape/we-create_bg.png);
  position: absolute;
  content: "";
  top: 0;
  z-index: -1;
  min-height: 819px;
  min-width: 1006px;
  background-repeat: no-repeat;
  left: -117px;
}
@media only screen and (min-width: 1200px) and (max-width: 1600px) {
  .we-create-area::before {
    display: none;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .we-create-area::before {
    display: none;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .we-create-area::before {
    display: none;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .we-create-area::before {
    display: none;
  }
}
@media (max-width: 767px) {
  .we-create-area::before {
    display: none;
  }
}
.we-create-area::after {
  background-image: url(../img/shape/we_create_right.png);
  position: absolute;
  content: "";
  z-index: -1;
  min-height: 262px;
  min-width: 207px;
  background-repeat: no-repeat;
  right: 0px;
  bottom: 178px;
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .we-create-area::after {
    display: none;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .we-create-area::after {
    display: none;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .we-create-area::after {
    display: none;
  }
}
@media (max-width: 767px) {
  .we-create-area::after {
    display: none;
  }
}
.we-create-area .we-create-img img {
  width: 100%;
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .we-create-area .we-create-img img {
    padding-top: 30px;
  }
}
.we-create-area .we-create-cap h3 {
  margin-top: 144px;
  color: #350000;
  font-size: 50px;
  font-weight: 700;
  line-height: 1.3;
  margin-bottom: 29px;
  padding-right: 25px;
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .we-create-area .we-create-cap h3 {
    font-size: 29px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .we-create-area .we-create-cap h3 {
    font-size: 42px;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .we-create-area .we-create-cap h3 {
    font-size: 36px;
    line-height: 1.3;
    padding-right: 0px;
  }
}
@media (max-width: 767px) {
  .we-create-area .we-create-cap h3 {
    font-size: 25px;
    line-height: 1.3;
    padding-right: 0px;
  }
}
.we-create-area .we-create-cap p {
  padding-right: 50px;
  margin-bottom: 56px;
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .we-create-area .we-create-cap p {
    padding-right: 10px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .we-create-area .we-create-cap p {
    padding-right: 10px;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .we-create-area .we-create-cap p {
    padding-right: 10px;
  }
}
@media (max-width: 767px) {
  .we-create-area .we-create-cap p {
    padding-right: 10px;
  }
}

